
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
    width: 200px;
    height:200px;
    
}
.carousel-item{
    width: 50%;
    height: 30%;  
}

.historia {
    text-align: center;
    justify-content: center;
    color: #ffffff;
}

footer {
    padding: 80px;
}

#selector-id {
    color: red;
}

.selector-class {
    color: #000000;
}

.otro-selector-class {
    font-style: italic;
}

ul {
    color: rgb(0, 0, 0);
    font-style: italic;
    padding-inline: 70px;
}

header {
    background-color: #a82710;
}

h1 {
    background-color: #a82710;
    text-align: center;
}

body {
    background-color: rgb(230, 222, 222);
}

main {
    margin-top: 40px;
    padding: 40px;
}

.hero {
    background-image: url("./assets/images/famyk.jpg");
    height: 130vh;
}

/* MENU */

.menu {
    list-style-type: none;
    background-color: rgb(163, 146, 146);
    padding-inline: 70px;
    grid-gap: 100px
}

.menu_item {
    display: inline-block;
    margin-inline: 70px;
}

.menu_item a {
    color: #ffffff;
    text-decoration: #ffffff;
    padding: 1rem;
    transition: 1s;
}

.menu_item a:hover {
    text-decoration: underline;
}

/* PRODUCTOS TARJETAS */

.tarjeta {
    width: 300px;
    background-color:#e2ac60;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
}

.tarjeta_img {
    width: 100%;
}

.tarjeta_titulo {
    font-size: 30px;
}

.tarjeta_boton {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}   